{% extends "base.html" %}

{% block title %}
Контакты - Моя веб-страница
{% endblock %}

{% block content %}
<h1>Контакты</h1>
<p>Как уже неоднократно упомянуто, сторонники тоталитаризма в науке, которые представляют собой яркий пример
    континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими
    инстанциями. Каждый из нас понимает очевидную вещь: выбранный нами инновационный путь обеспечивает
    актуальность благоприятных перспектив.</p>
    <img src="static/image/nature-5.png" alt="nature-5">
<p>Но интерактивные прототипы формируют глобальную экономическую сеть и при этом — разоблачены. Не следует,
    однако, забывать, что дальнейшее развитие различных форм деятельности обеспечивает актуальность
    глубокомысленных рассуждений.</p>
{% endblock %}