{% extends "base.html" %}

{% block title %}
Главная страница - Моя веб-страница
{% endblock %}

{% block content %}
<h1>Добро пожаловать на главную страницу!</h1>
<p>Здесь будет основная информация о вашем сайте.</p>
<p>С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание
    системы обучения кадров, соответствует насущным потребностям. Таким образом новая модель организационной
    деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.</p>
    <img src="{{ url_for('static', filename='image.jpg') }}" alt="Image">
{% endblock %}
